body {
    background: #8052ec;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .container {
    width: 90%;
    max-width: 34em;
    position: absolute;
    height: 500px;
    margin: 30px auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .adiciona {
    width: 100%;
    background: #fff;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
  }

  .adiciona input {
    font-family: sans-serif;
    font-size: 1em;
    width: 79%;
    height: 40px;
    border: none;
    margin: 10px auto;
    border-bottom: 2px solid #d1d3d4;
    padding: 0.8em 0.5em;
    color: #111111;
    font-weight: 500;
  }

  .adiciona button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1em;
    width: 20%;
    height: 40px;
    background-color: #6743c4;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
  }

  .adiciona button:hover {
    box-shadow: 0 2px 2px 0 #ccc, 0 2px 3px 0 #ccc;
    opacity: 0.7;
  }

  .adiciona button span {
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
  }

  #errorMes {
    display: block;
    background: #f2dede;
    width: 95%;
    margin: 0px auto;
    color: rgb(139, 19, 19);
    padding: 10px;
    height: 35px;
  }

  .mostar-tarefas {
    width: 100%;
    background: #fff;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
  }

  .item-tarefa {
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
    border-radius: 5px;
  }

  .item-tarefa h2 {
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
    font-family: sans-serif;
    color: #555;
  }

  .item-tarefa small {
    display: block;
    width: 100%;
    padding: 5px 0px;
    color: #888;
    padding-left: 30px;
    font-size: 14px;
    font-family: sans-serif;
  }

  .remover-tarefa {
    display: block;
    float: right;
    width: 40px;
    height: 20px;
    font-family: sans-serif;
    font-size: 2em;
    color: #8052ec;
    text-decoration: none;
    text-align: right;
    padding: 0px 5px 8px 0px;
    border-radius: 50%;
    cursor: pointer;
  }

  .remover-tarefa:hover {
    color: red;
  }

  .checked {
    color: #999 !important;
    text-decoration: line-through;
  }

  .item-tarefa input {
    margin: 0px 15px;
    float: right;
    width: 18px;
    height: 36px;
    padding: 5px 0px;
    color: #888;
    padding-left: 30px;
    font-size: 14px;
  }


  .empty {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: #cccc;
  }
